


.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
		supported by Chrome, Edge, Opera and Firefox */
}

		
.keypadContainer {
   /*background-color: red;*/
   margin-left: 10px;
   margin-top: 10px;
   border: 1px solid black;
   border-radius: 15px;

   float: left;
   width: auto;
   min-width:330px;
   padding: 0 30px;
   box-sizing: border-box;
}
.GpioContainer {
   /*background-color: red;*/
   text-align: center;
	

   padding-bottom: 15px;
   border: 1px solid black;
   border-radius: 15px;
   float: left;
   width: auto;
 
   padding: 10px;
   
}



.GpioContainer strong{
	color: lightseagreen;
}

.TextCenter {
  text-align: center;
}


/******** Switch sliders style ******/	
        
		.switch {
		margin: 10px;
		padding: 5px;  /* iOS text is not centered unless you set padding */
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
	
	-webkit-tap-highlight-color: transparent; /* for removing the highlight 
		*This only works with certain web browser but useful for Safari and 
		* chrome on mobile touch screens*/

	
	}

	.switch input { 
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		
		cursor: pointer;
		
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}

	.slider:before {
		
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked + .slider {
		background-color: #2196F3;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}	
	
/******** Button style ******/	

.active {
  background-color: #fff;
  color: red;
}


